[#escape x as (x)!?html]
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"/>
<title>${videoTwo.title}_${videoTwo.cname}</title>
<meta name="keywords" content="${info.keywords}"/>
<meta name="description" content="${info.description}"/>
<link href="_files/global.css" rel="stylesheet"/>
<link href="_files/style.css" rel="stylesheet"/>
[#include 'inc_js.html'/]
<script type="text/javascript" src="_files/ckplayer/ckplayer.js"></script>
<style>
.a1{color:#333;text-decoration:none;}
.a1:hover{color:#699f00;}
#dt a{color:#000;text-decoration:underline;}
#mA a{color:#000;text-decoration:underline;}
</style>
</head>
<body>
[#include 'inc_header_video.html'/]
<div class="w center">	
	<h1 class="ff-yh fs24 lh" style="margin:15px 0 0 0;font-weight:normal;">${videoTwo.title}</h1>
</div>
<div class="w center" style="margin-top:12px;">
	<div class="left" style="width:672px;">
		<img alt="" src="${videoTwo.bigPic}" width="672" height="449">
		<table class="digg center mt20">
		
		<tr><td>
			<p id="dt"><span>导演：</span><span id="dtSpan"></span></p>
			<p id="mA"><span>主演：</span><span id="mASpan"></span></p>
			<p id="area"><span>地区：</span><span>${videoTwo.area}</span></p>
			<p id="year"><span>年代：</span><span>${videoTwo.year}</span></p>
			<p id="desc"><span>详情：</span><span>${videoTwo.desc}</span></p>
			<div class="clear"></div>
		</td></tr>
		<tr><td id="clicktd">
			<button class="clickplay" style="margin-left: 20px;width: 136px;height: 36px" url="${videoTwo.videoUrl}" id="${videoTwo.vmid}">点击播放</button>
			<div class="clear"></div>
		</td>
		<td >
			<button id="clickplayhide" style="margin-left: 20px;width: 136px;height: 36px" disabled="disabled" >获得元宝</button>
			<button id="clickplayshow" style="margin-left: 20px;width: 136px;height: 36px"  vid="${videoTwo.vmid}">获得元宝</button>
			<div class="clear"></div>
		</td></tr>
		
		</table>
		
		<div id="commentDiv" class="mt20"></div>		
		<script type="text/javascript">
			$("#commentDiv").load("/comment_list_new.jspx?fid=${info.id}&url=/info_video${videoTwo.vmid}.jspx&d="+new Date()*1);
		</script>
	</div>
	<div class="right" style="width:308px;">
	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
var dt='${videoTwo.dt}';
var mA='${videoTwo.mA}';
var area='${videoTwo.area}';
var year='${videoTwo.year}';
var desc='${videoTwo.desc}';
var cname='${videoTwo.cname}';
if(dt.length==0){
	$("#dt").hide();
}else{
	var dtArr = dt.split(",");
	for(var i=0;i<dtArr.length;i++){
		$("#dtSpan").append('<a href="/dt.jspx?p='+encodeURIComponent(encodeURIComponent(dtArr[i]))+'">'+dtArr[i]+'</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
	}
}
if(mA.length==0){
	$("#mA").hide();
}else{
	var mAArr = mA.split(";");
	for(var i=0;i<mAArr.length;i++){
		$("#mASpan").append('<a href="/ma.jspx?p='+encodeURIComponent(encodeURIComponent(mAArr[i]))+'">'+mAArr[i]+'</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
	}
}
if(area.length==0){
	$("#area").hide();
}
if(year.length==0){
	$("#year").hide();
}
if(desc.length==0){
	$("#desc").hide();
}
var isaid = ${isaid};
var aid='${videoTwo.aid}';
if(isaid==1){
	$.ajax({    
	    url:'videofourlist.jspx',// 跳转到 action    
	    data:{    
	             aid :aid
	    },    
	    type:'post',    
	    cache:false,  
	    async:false,  
	    dataType:'json',    
	    success:function(data) { 
	    	
	    	$("#clicktd").empty();
	    	for(var i=0;i<data.length;i++){
	    		$("#clicktd").append(
	    				'<button class="clickplay" style="margin-left: 20px;width: 136px;height: 36px" url="'+data[i].url+'" id="'+data[i].vid+'">'+(i+1)+'</button>'	
	    		);
	    	}
	    	$("#clicktd").append(
			'<div class="clear"></div>');
	    },
        error : function() { 
        }
	}); 
}

$(".clickplay").click(function(){
	if(cname=='新闻'){
		setTimeout('$("#clickplayshow").show();',60000);//延时60秒 
		setTimeout('$("#clickplayhide").hide();',60000);//延时60秒
	}else{
		setTimeout('$("#clickplayshow").show();',300000);//延时300秒 
		setTimeout('$("#clickplayhide").hide();',300000);//延时300秒
	}
	window.open($(this).attr("url"));
});
$("#clickplayhide").show();
$("#clickplayshow").hide();
$("#clickplayshow").click(function(){
	$.post('${ctx}/viewvideo.jspx',{id:$(this).attr("vid"),type:cname},
		function(data) {
			alert(data);
		}
	);
});
 
</script>
[#include 'inc_friendlink.html'/]
[#include 'inc_footer.html'/]
</body>
</html>
[/#escape]