[#escape x as (x)!?html]
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"/>
<title>商品成功领取记录</title>
<meta name="keywords" content="${anchor.title}"/>
<meta name="description" content="${anchor.title}"/>
<link href="_files/global.css" rel="stylesheet"/>
<link href="_files/style.css" rel="stylesheet"/>
[#include 'inc_js.html'/]
</head>
<body>


		
[#include 'inc_header_product.html'/]
<div class="w center oh">
	<div class="left w2">
		<h1 class="info-title" style="border-top:2px solid #458fce;">${product.title}</h1>		
		
		
		<div>
			<div class="mt10" style="border-bottom:1px solid #ddd;">
				<span class="fs16 ff-yh" style="padding-bottom:5px;display:inline-block;border-bottom:3px solid #379be9;">成功领取记录</span>
			</div>
			
			<table class="table-list" >
				<thead>
					<tr>
						<th width="200px">领取用户</th>
						<th width="200px">领取期数</th>
						<th width="300px">领取时间</th>
					</tr>
				</thead>
				<tbody id="videolistul">
					
				</tbody>
			</table>
			
			<h1 id="noproduct">该商品暂无成功领取记录！</h1>
			<div class="mt20">
				<table class="center mt20">
					<tbody>
						<tr>
							<td>
								<div class="pager">
									<a class="page" id="gofirstpage">首页</a>
									<a class="page" id="gobackpage">上一页</a>
									 <a class="page-curr" id="currpage">1</a> 
									 <a class="page" id="gotopage">下一页</a>
									 <a class="page" id="golastpage">末页</a>
									<div style="clear: both;"></div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
		</div>
	</div>
	<div class="right w1">
		[#include 'inc_news_right.html'/]
	</div>
</div>
[#include 'inc_friendlink.html'/]
[#include 'inc_footer.html'/]

<script type="text/javascript">
var infoId='${product.id}';
var totalpage = 1;
function videolist(infoId,page){
	$.ajax({    
	    url:'productOrderList.jspx',// 跳转到 action    
	    data:{    
	    	infoId:infoId,
	    	page:page
	    },    
	    type:'post',    
	    cache:false,  
	    async:false,  
	    dataType:'json',    
	    success:function(data) {
	    	totalpage = data.totalpage;
	    	if(data.isfirst==1){
	    		$("#gobackpage").hide();
	    	}else if(data.isfirst==0){
	    		$("#gobackpage").show();
	    	}
	    	if(data.islast==1){
	    		$("#gotopage").hide();
	    	}else if(data.islast==0){
	    		$("#gotopage").show();
	    	}
	    	$("#totalcount").html(data.totalcount);
	    	$("#currpage").html(data.currpage+1);
	    	$("#videolistul").empty();
	    	var videoList=data.productOrderList;
	    	if(videoList.length==0){
	    		$(".table-list").hide();
	    		$("#noproduct").show();
	    	}else{
	    		$("#noproduct").hide();
	    		$(".table-list").show();
	    		for(var i=0;i<videoList.length;i++){
		    		$("#videolistul").append(	
		    				'<tr >'+
						'<td align="center">'+videoList[i].userName+'</td>'+
						'<td align="center">第'+videoList[i].infoPeriod+'期</td>'+
						'<td align="center">'+videoList[i].orderDateString+'</td>'+	
						'<tr >'
		        	);    		
		    	}
	    	}
	    	
	    } ,
	    error : function() { 
	    	//alert(222);
	    }
	}); 
}


videolist(infoId,0);

$("#gofirstpage").click(function(){//第一页
	var page = 0;
	videolist(infoId,page);
});
$("#golastpage").click(function(){//尾页
	var page = totalpage-1;
	if(page>-1){
		videolist(infoId,page);;	
	}
	
});
$("#gobackpage").click(function(){//上一页
	var page = parseInt($("#currpage").html())-2;
	videolist(infoId,page);
});
$("#gotopage").click(function(){//下一页
	var page = parseInt($("#currpage").html());
	videolist(infoId,page);
});


</script>
</body>
</html>
[/#escape]
